<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>





<div class="fluid-container" th:fragment="navi(activeTab)">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" th:href="@{/}">Lab 16</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Главная страница<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{'/addpage'}">Добавить товар<span
                            class="sr-only">(current)</span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" style="color: #dee2e6">
                    <form th:action="@{/logout}" method="POST">

                        <div style="left: 900px;width: 150px" class="input-group">
                            <input type="submit" class="btn btn-danger" value="Выйти"/>

                        </div>
                    </form>
                </li>
                <div style="top: 8px;left: 300px;width: 200px;font-family: Gill Sans, sans-serif;" class="input-group">
                    <li

                            sec:authorize="isAuthenticated()" class="nav-item" style="color: #ffffff">
                        Здравствуйте,
                        <span sec:authentication="name"></span>

                    </li>
                </div>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                        <div class="input-group-prepend">
                            <div style="left: 600px;" class="input-group">
                                <input id="pole1" class="form-control" type="text" placeholder="Логин" name="username"
                                       aria-describedby="inputGroup-sizing-sm">
                                <input class="form-control" type="text" placeholder="Пароль" name="password"
                                       aria-describedby="inputGroup-sizing-sm"/>
                                <button class="btn btn-secondary btn-sm" type="submit">Войти</button>
                            </div>
                        </div>
                    </form>
                </li>
                <li></li>
            </ul>
        </div>
    </nav>
    <div class="visible-md" style="height:80px;"></div>
</div>





















<h3>Добавление товара</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название товара</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<form th:action="@{/add}" th:object="${product}">
    <div class="change">
        <table>
            <tr>
                <th>Название</th>
                <th>Цена</th>
            </tr>
            <tbody>
            <tr>
                <td><input name="Name" placeholder="*name" class="form-control"></td>
                <td><input name="Price" placeholder="*price" class="form-control"></td>
                <td><input type="submit" value="Применить"  class="btn btn-primary"></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<br>
<form th:action="@{/}">
    <div style="margin-top: 10px" class="form-group">
        <div class="col-sm-6 controls">
            <button type="submit" class="btn btn-primary">Вернуться</button>
        </div>
    </div>
</form>
</body>
</html>